section#about_us.container
  .row
    .col-sm-12
      h1 About Us
  
  .row
    .col-sm-6
      img.img-responsive(src='https://static.wixstatic.com/media/a921b1a5953616fa7b1e415200b149c7.jpg/v1/fill/w_1096,h_1046,al_c,q_85,usm_0.66_1.00_0.01/a921b1a5953616fa7b1e415200b149c7.jpg')
    .col-sm-6
      p In the fall of 2007, Lifestyle Consulting became an Indiana State Department of Health - Certified Wellness Program provider.
        | (Please visit&nbsp;
        a(href='http://www.inshape.in.gov') www.inshape.in.gov
        | )
      p Lifestyle Consulting  is owned and directed by RN Peg Crickmore accompanied by a host of wellness consultants to registered nurses.
      p Margaret (Peg) Crickmore is a registered nurse with multiple years of clinic and management experience. She has spent much of her career in assuring quality of care with containing health care costs.
      p Peg holds nursing degrees from Purdue University and Indiana University. Her belief in promoting a healthy lifestyle lead  her to begin Lifestyle Consulting where she is able to pass on her knowledge and experience.
