section#health_fairs.container
  .row
    .col-sm-12
      h2 Health Fairs
  .row
    .col-sm-12
      h4 Health Fair Screening Options
      
      ul.pull-left
        li Total Cholesterol
        li Lipid Profile
        li HDL Cholesterol
        li PSA’s
        li Blood Glucose (sugar)
        li Blood Pressure Reading
        li Weight
      
      ul.pull-left
        li Heart Rate
        li BMI Calculation
        li Body Fat Analysis
        li Hearing
        li Vision
        li Flexibility
        li Height

  .row
    .col-sm-12
      ul
        li Registered Nurses and other experts  for displays such as: nutrition, heart, cancer, stress, depression, and fitness. 
        li Continually running health and wellness videos
        li Brochures on health and wellness topics
        li Flu shots are available October-December

  .row
    .col-sm-6
      p Lifestyle Consulting will design, organize and conduct a Health Fair for your associates. Choose from the list of options to provide a unique service to your company. To encourage participation giveaways are provided throughout the health fair.
        
    .col-sm-6
      p Participants of all health fairs are not only educated at the event, but provided with a wealth of literature for continued education at home. Wellness Consultants are available at events for one on one discussions concerning health related issues.
 
