section#health_promotions.container
  .row
    .col-sm-12
      h2 Employee Wellness and Health Promotion Management
  
  .row
    .col-sm-12
      h4 Services 
      ul    
        li Interviewing key staff to determine their expectations of a wellness program
        li Analyzing of health costs that could be affected by a health promotion program
        li Providing information on budgeting for the program
        li Developing a yearly plan for health promotion activities and classes
        li Providing a wellness committee handbook, specific to the employer
        li Assisting in creating an employee incentive program for participation in activities
        li Providing information for introducing the wellness program to the employees
        li Submitting written recommendations, specific to the employer

  .row
    .col-sm-12
      h4 Our team works with your team to develop a successful Wellness Program by:
      ul        
        li Providing ongoing management of the program
        li Providing health education programs to employees
        li Attending employee wellness committee meetings
        li Providing a health newsletter to employees
        li Providing health posters and flyers
        li Providing a health fair on-site each year
