nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.page-scroll(href='#page-top')
        img.navbar-logo(style='height: 30px;', src='https://static.wixstatic.com/media/dcfd00_7e020c62b82e4f3787037ba88aeef5e5.gif', alt='Straight Cut Services')
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.hidden
          a(href='#page-top')
        li
          a.page-scroll(href='#health_promotions') Health Promotions
        li
          a.page-scroll(href='#health_fairs') Health Fairs
        li
          a.page-scroll(href='#wellness_services') Wellness Services
        li
          a.page-scroll(href='#about_us') About Us
        li
          a.page-scroll(href='#contact') Contact
      ul.nav.navbar-nav.navbar-right
        li 
          a(href='https://hraserv1.traleexplorer.com/lifestyleconsulting/Login.aspx?b=F922EB95-5E7E-457D-842F-ED1F986DE24E') Health Rish Assessment
