section#wellness_services.container
  .row
    .col-sm-12
      h2 Wellness Services
  .row
    .col-sm-12
      h4 Program and Services
      p Lifestyle Consulting offers educational programs and brown bag sessions that fit the company and it’s associates. Services listed below are several that have been given. Six-eight week programs are available for continuing education. In addition telephonic counseling for at risk associates is available.
      ul
        li Weight Management (6 weeks)
        li Smoking Cessation (Stop Smoking) (6 weeks)  
        li Exercise (Walking programs 6 weeks)
        li Health issues such as:
          ul
            li Cancer prevention
            li Heart health
            li Low fat cooking
            li Avoiding germs
            li Fitting in Fitness
            li You are what you eat
              
