extends layout

block content
  include ./components/nav.jade
  
  include ./components/health-promotion.jade
  
  include ./components/health-fairs.jade
  
  include ./components/wellness-services.jade
  
  include ./components/about.jade
  
  include ./components/footer.jade
